@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(140,181,255,1) 0%, rgba(133,210,225,1) 100%);
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background: rgba(0, 0, 0, 0.15);
}

.header__logo {
  height: 80px;
  width: auto;
}

.header__title {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container, .feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  width: 600px;
  height: 520px;
}

.form-container__label, .rad-cb-container__title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 8px;
}

.form-container__label--normal {
  font-size: 20px;
  font-weight: 300;
}

.form-container__input {
  width: 320px;
  height: 24px;
  border: 1px solid rgb(30,145,255,1);
  border-radius: 4px;
  padding: 4px;
}

.form-container__input--large {
  min-width: 320px;
  max-width: 320px;
  min-height: 100px;
}

.form-container__rad-cb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: none;
  margin-top: 8px;
}

.form-container__rad-cb-container--wide {
  width: 320px;
}

.form-container__rad-cb-container--narrow {
  width: 160px;
}

.form-container__rad-cb-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container__btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.btn-box__btn {
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 150px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.2);
  transition: .2s;
}

.btn-box__btn--blue {
  background: rgb(30,145,255,1);
}

.btn-box__btn--green {
  background: rgb(0,255,0,1);
}

.btn-box__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: left;
}

.feedback-container__answer {
  width: 500px;
  height: 300px;
  min-width: 400px;
  max-width: 600px;
  min-height: 200px;
  max-height: 400px;
}
